<h1> Edit Vacancy </h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => "Vacancy" %>
<%= f.input :description, :label => "Description" %>
<%= f.input :wage_lower_bound, :label => "Minimum Salary" %>
<%= f.input :wage_upper_bound, :label => "Maximum Salary" %>
<%= f.input :working_city, :label => "Location" %>
<%= f.input :working_exprience, :label => "Experience" %>
<%= f.input :educational_requirement, :label => "Education"%>
<%= f.input :contact_email, :label => "Email" %>
<%= f.input :is_hidden, :label => "Hide or NOT" %>

<%= f.submit "Submit" %>
<% end %>
