<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Filter
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
  <li>
    <%= link_to("lower salary", jobs_path(:order => "by_lower_bound")) %>
  </li>
  <li>
    <%= link_to("upper salary", jobs_path(:order => "by_upper_bound")) %>
  </li>
  <li>
    <%= link_to("publish time", jobs_path ) %>
  </li>
</ul>
</div>

<table class="table table-boldered">
  <thead>
    <tr>
        <td>Vacancy</td>
        <td>Minimum Salary</td>
        <td>Maximum Salary</td>
        <td>Location</td>
        <td>Experience</td>
        <td>Education</td>
        <td>Publish Time</td>
      </tr>

    </thead>
    <tbody>

  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.wage_lower_bound %>
    </td>
    <td>
      <%= job.wage_upper_bound %>
    </td>
    <td>
      <%= job.working_city %>
    </td>
    <td>
      <%= job.working_exprience %>
    </td>
    <td>
      <%= job.educational_requirement %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
