<h1> 编辑职位 </h1>
<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :title, :label => "职位名称" %>
<%= f.input :description, :label => "职位描述" %>
<%= f.input :wage_lower_bound, :label => "薪资下限" %>
<%= f.input :wage_upper_bound, :label => "薪资上限" %>
<%= f.input :working_city, :label => "工作城市" %>
<%= f.input :working_exprience, :label => "经验要求" %>
<%= f.input :educational_requirement, :label => "学历要求"%>
<%= f.input :contact_email, :label => "联系邮箱" %>
<%= f.input :is_hidden, :label => "隐藏该职位" %>

<%= f.submit "提交" %>
<% end %>
