<div class="row">
  <div class="pull-right-add">
  <%= link_to("+ New Vacancy", new_admin_job_path, :class => "btn btn-add") %>
</div>

<br><br>

<table class="table table-boldered table-striped custab" >
  <thead>
    <tr class="row-title">
      <th>Vacancy</th>
      <th>Company</th>
      <th>Resume NO.</th>
      <th>Check Resume</th>
      <th>Salary</th>
      <th>Publish Time</th>
      <th>Manager Option</th>
  </tr>
</thead>
  <% @job.each do |job| %>
<tr class="row-data">
    <td width="10%">
      <%= render_job_status(job) %>
      <%= link_to(job.title, admin_job_path(job)) %>
    </td>
    <td width="5%"> <%= job.company %></td>
    <td width="10%"> <%= link_to(job.resumes.count) %></td>
    <td class="apply-btn" width="10%">
        <%= link_to("check", admin_job_resumes_path(job), :target => "_blank", :class => "btn btn-default") %>
        </td>
    <td width="10%">
      <span class="salary-info">
        <span class="fa fa-rmb"></span><%= job.wage_lower_bound %> - <%= job.wage_upper_bound%>
      </span>
    </td>
    <td width="10%"><%= local_time(job.created_at, '%B %e, %Y') %></td>
    <td width="15%">
      <%= link_to edit_admin_job_path(job), class: "btn btn-xs btn-info" do %><i class="fa fa-pencil"></i><% end %>
      <%= link_to admin_job_path(job), :method => :delete, :class => "btn btn-xs  btn-info", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash-o"></i><% end %>

      <% if job.is_hidden %>

      <%= link_to publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-info" do %><i class="fa fa-eye"></i><% end %>
      <% else %>
      <%= link_to hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-info" do %><i class="fa fa-eye-slash"></i><% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
