<h3> Submit Resume To <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
<%= f.input :content, :label => "Content" %>
<%= f.input :attachment, :label => "Attachment(PDF only)" %>

<%= f.submit "Submit" %>
<% end %>
 
