<html>
<body>
<div class="row">
<div class="submit-resume">
<div class="content-1">
  <h1 class="submit-title"> Submit Resume To
    <span class="jobs-title"><%= @job.title %></span> </h1>

  <hr>

  <%= simple_form_for [@job, @resume] do |f| %>
    <div class="content-2">
       <%= f.input :content, :label => "Content" %>
       <%= f.input :attachment, :label => "Attachment ( PDF only )" %>
    </div>
    <div class="sumbit-btn">
       <%= f.submit "Submit"  %>
    </div>
  <% end %>
</div>
</div>
</div>
</body>
</html>
