<!DOCTYPE html>
<html>
<head>
  <title>Job Listing </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="container-fluid">
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-panel"><i class="fa fa-home" aria-hidden="true"></i><a href="/">Back to Home</a></li>
          <li class="nav-panel"><i class="fa fa-list-ul" aria-hidden="true"></i><a href="/admin/jobs">All Vacancy</a></li>
          <li class="nav-panel"><i class="fa fa-eye" aria-hidden="true"></i><a href="/admin/jobs">Published Vacancy</a></li>
          <li class="nav-panel"><i class="fa fa-eye-slash" aria-hidden="true"></i><a href="/admin/jobs">Hidden Vacancy</a></li>
        </ul>

      </div>

      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render "common/footer" %>

</body>
</html>
